*{
  border:1px solid red;
}

.post-title{
  background-color: #777;
  border:10px solid green;
}

#post{
  border£º5px dotted green;
  background-color: #FFF;
}

.post-meta a {
  background-color: blue
}
